.box-heading {
    -fx-border-color: #aaa;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #fff;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.dark .box-heading {
    -fx-background-color: #444;
    -fx-text-fill: #fff;
}

#networkBody {
    -fx-background-color: #fff;
    -fx-border-color: #aaa;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.dark #networkBody {
    -fx-background-color: #444;
    -fx-text-fill: #fff;
}

.btn{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
    -fx-font-weight: 700;
    -fx-font-size: 15;
}

.dark .btn {
    -fx-background-color: transparent;
    -fx-text-fill: #fff;
}

#accept{
    -fx-text-fill: blue;
    -fx-border-color: blue;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

#invitationCard {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
    -fx-border-color: #aaa;
    -fx-background-color: #fff;
}

.dark #invitationCard {
    -fx-background-color: #444;;
}

.scrollPane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scrollPane .viewport {
    -fx-background-color: transparent;
}

#card {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
    -fx-border-color: #aaa;
}